@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Noto+Sans:wght@300;400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    margin:0px;

}

:root {
    --primary-color:#3F72AF;
    --dark-grey:#142F43;
    


}


.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
}

.navigation .brand-name {
    font-weight:700;
    font-size:1.2rem;
    text-align: center;
}

main{
 max-width:600px;
  margin:auto;
  padding:1rem;
}
#heading{
    margin-bottom:0.5rem 0rem;
    font-size:1rem;
    font-weight: 700;
}
input{
    display: block;
    width:80%;
    height:10vh;
    margin:2rem 0rem 1rem 0rem;
    padding:1rem;
    font-size: 1rem;
    border:2px solid rgb(14, 13, 13);
}

.btn-prime{
  border:2px solid var(--primary-color);
  background-color:var(--primary-color);
  padding:0.5rem 0.7rem;
  margin:0.5rem 0rem;
  font-size:1rem;
  border-radius: 0.5rem;
  color:white;
}
#output-heading{
    margin-bottom:0.5rem 0rem;
    font-size:1rem;
    font-weight: 700;
}
#output{
    border:2px solid rgb(14, 13, 13);
    width:80%;
    height:10vh;
    padding:1rem;
    font-size: 1rem;
    margin:1rem 0rem 5rem 0rem;
}


.footer{
    background-color:var(--primary-color);
    padding:0.5rem;
    text-align:center;
    color:white;
}
.footer h3{
    font-weight:700;
    font-size:1.2rem;
    text-align: center;
}